{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block importmap %}{{ importmap(['app', 'reset-password']) }}{% endblock %}

{% block body %}
    <section class="reset-password">
        <p>
            S'il existe un compte correspondant à votre adresse e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.<br>
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
    </section>
{% endblock %}
