{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block importmap %}{{ importmap(['app', 'confidentialite']) }}{% endblock %}

{% block body %}

    <section class="confidentialite">
        <h1>Politique de Confidentialité</h1>
    </section>

{% endblock %}
