{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block importmap %}{{ importmap(['app', 'apropos']) }}{% endblock %}

{% block body %}

    <section class="apropos">
        <h1>A propos</h1>
    </section>

{% endblock %}
