:root {
    /* background du body principal - toutes pages */
    --body-bg: #ffffff;

    /* taille de la sidebar par défaut (230px par défaut) */
    --sidebar-max-width: 250px;

    /* couleur du background de la sidebar */
    --sidebar-bg: #003057;

    /* border de la sidebar */
    --sidebar-border-color: #c0a300;

    /* couleur du titre principal si pas de logo image */
    --sidebar-logo-color: #fff;

    /* couleur des submenus */
    --sidebar-menu-submenu-color: #fff;

    /* couleur de la police des cruds */
    --sidebar-menu-color: #ffffff;

    /* couleur des sections */
    --sidebar-menu-header-color: #ffffff;

    /* couleur des icons font-awesome */
    --sidebar-menu-icon-color: #ffffff;

    /* couleur du background des boutons actifs = lien sélectionné */
    --sidebar-menu-active-item-bg: #ffffff;

    /* couleur police des boutons actifs */
    --sidebar-menu-active-item-color: #ff4800;

    /*  */
    --sidebar-menu-badge-active-color: #111;
}

.main-content {
    margin-bottom: 100px;
}

.global-actions a {
    background-color: #003057;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.badge-admin {
    background-color: #ff3c00d3;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline;
    color: #ffffff;
    font-size: clamp(11px, 3vw, 13px);
}

.badge-user {
    background-color: #00a849;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline;
    color: #ffffff;
    font-size: clamp(11px, 3vw, 13px);
}