* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    line-height: 1.5;
    color: var(--body-font-color);
    background-color: var(--body-bg-color);
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font-family);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    padding: 15px 0;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    height: var(--header-height);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

header nav .img-logo {
    max-width: 100px;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
}

header nav .menu {
    display: flex;
    gap: clamp(10px, 2vw, 20px);
    list-style: none;
    align-items: baseline;
}

header nav .menu .logo {
    color: var(--header-font-color);
    font-family: var(--title-font-family);
    font-size: clamp(25px, 3vw, 32px);
    font-weight: 900;
    text-decoration: none;
    margin-right: 12px;
}

header nav .menu li a {
    color: var(--header-font-color);
    font-size: clamp(14px, 5vw, 16px);
    font-weight: 700;
    text-decoration: none;
}

header nav .menu li a:hover {
    color: var(--title-color-hover);
}

header nav .burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    border: none;
}

header nav .burger span {
    width: 100%;
    height: 0.25rem;
    background: var(--color-white);
    border-radius: 10px;
    transition: all 0.3s linear;
}

/* FOOTER */
footer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    margin-top: 50px;
    color: var(--footer-font-color);
}

footer .footer-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    filter: brightness(0.14);
}

footer .footer {
    max-width: 1320px;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    position: relative;
    z-index: 999;
}

footer .footer .pres {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

footer .footer .pres .sitelogo {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .footer .pres .sitelogo .footer-logo {
    max-width: 100%;
    height: auto;
    width: 75px;
    position: relative;
}

footer .footer .pres .sitename {
    font-size: clamp(18px, 1.5vw, 25px);
    font-weight: 900;
    font-family: var(--title-font-family);
    position: relative;
}

footer .footer .pres .description {
    font-size: clamp(12px, 2vw, 14px);
    position: relative;
}

footer .footer .pres img {
    max-width: 100%;
    height: auto;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

footer .footer .pres .social {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    position: relative;
}

footer .footer .pres .social img {
    max-width: 100%;
    height: auto;
    width: 30px;
    transition: 0.3s ease-in-out;
}

footer .footer .pres .social img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

footer .footer .col {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

footer .footer .col .title {
    font-size: clamp(14px, 5vw, 16px);
    font-weight: 700;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 15px;
}

footer .footer .col a {
    text-decoration: none;
    color: var(--footer-col-color);
    font-size: clamp(13px, 5vw, 15px);
    font-weight: 500;
}

footer .footer .col a:hover {
    color: var(--footer-col-color-hover);
}

/* footer .footer .cats {
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

footer .footer .cats a {
    text-decoration: none;
    color: var(--color-white);
    font-size: clamp(14px, 5vw, 16px);
    font-weight: 700;
}

footer .footer .cats a:hover {
    color: var(--title-color-hover);
} */


footer .copyright {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    font-size: clamp(12px, 1.5vw, 14px);
    position: relative;
    z-index: 999;
}

footer .copyright::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #4b4b4b;
    margin-bottom: 10px;
}

footer .copyright a {
    text-decoration: none;
    color: var(--footer-font-color);
    font-weight: 500;
    margin-right: 20px;
}

footer .copyright a:last-child {
    margin-right: 0;
}

footer .copyright a:hover {
    color: var(--title-color-hover);
}

#go-to-top {
    display: block;
    position: fixed;
    bottom: 5%;
    right: 1%;
    padding: 10px 10px 7px 10px;
    background-color: var(--bg-meta-home);
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    font-size: clamp(12px, 1.5vw, 14px);
    z-index: 999;
    transition: background-color 0.3s ease;
}

#go-to-top:hover {
    background-color: #e1e1e1;
}

/* FORMS */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--input-color);
    color: var(--input-font-color);
}

/* HOME */


/* ARTICLES */


/* CATEGORIES */



@media screen and (max-width: 992px) {
    header {
        padding: 30px 0;
    }

    header nav {
        justify-content: center;
        padding: 0 20px;
    }

    header nav .menu {
        display: none;
    }

    #go-to-top {
        display: none;
    }

    header nav .active {
        display: block;
        position: absolute;
        top: var(--header-height);
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--header-bg-color);
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    header nav .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }

    footer {
        padding: 18px 0;
    }

    footer .footer {
        gap: 25px;
    }

    footer .footer .pres {
        width: 100%;
        align-items: center;
    }

    footer .footer .col {
        width: 100%;
        align-items: center;
    }

    footer .footer .pres .description {
        text-align: center;
    }

    footer .copyright {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 45px;
        padding: 0 15px;
    }
}