.article {
    max-width: 1320px;
    margin: calc(var(--header-height) + 20px) auto 35px auto;
    padding: 15px 0 35px 0;
    position: relative;
}

.article h1 {
    font-size: clamp(22px, 3vw, 32px);
    color: var(--title-color);
    margin-bottom: 7px;
}

.article .categories {
    display: flex;
    gap: 7px;
    margin-bottom: 5px;
}

.article .categories .cat {
    font-size: clamp(10px, 1.5vw, 12px);
    color: var(--color-white);
    font-weight: 400;
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: var(--color-black);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.article .categories .cat:hover {
    background-color: var(--bg-button-color-hover);
}

.article .meta {
    font-size: clamp(11px, 1.5vw, 14px);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.article .meta a {
    color: var(--link-color);
    text-decoration: none;
}

.article .meta a:hover {
    color: var(--link-hover-color);
}

.article .img {
    max-width: 100%;
    height: auto;
    width: 100%;
    max-height: 550px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    position: relative;
}

.article .intro {
    font-size: clamp(13px, 1.5vw, 16px);
    margin-bottom: 15px;
}

.article .content {
    font-size: clamp(13px, 1.5vw, 16px);
    margin-bottom: 35px;
}

.article .content ul {
    list-style: inside;
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.article .author-bio {
    font-size: clamp(13px, 1.5vw, 15px);
    background-color: var(--bg-author-bio);
    padding: 15px;
    border-radius: 10px;
    position: relative;
    margin: 50px auto;
    width: 75%;
    text-align: center;
}

.article .author-bio .bio-name {
    font-size: clamp(12px, 3vw, 14px);
    font-weight: 500;
    font-family: var(--title-font-family);
}

.article .author-bio .bio-text {
    font-size: clamp(11px, 1.5vw, 13.5px);
    font-weight: 300;
}


.article .author-bio p {
    margin: 0;
    font-size: clamp(11px, 1.5vw, 13.5px);
    margin-bottom: 10px;
}

.article .author-bio .author-image {
    max-width: 100%;
    height: auto;
    width: 70px;
    max-height: 70px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.article .galerie-title, .article .fichiers-title {
    font-size: clamp(17px, 1.5vw, 22px);
    margin-bottom: 15px;
    font-weight: 700;
    font-family: var(--title-font-family);
    color: var(--title-color);
    text-align: center;
    border-bottom: 1px solid var(--border-pics-title);
    padding-bottom: 5px;
}

.article .mediapics {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    position: relative;
    margin-bottom: 35px;
}

.article .mediapics a {
    color: var(--link-color);
    text-decoration: none;
}

.article .mediapics img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    width: 300px;
    object-fit: cover;
}

.article .fichiers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    position: relative;
    margin-bottom: 35px;
    text-align: center;
}

.article .fichiers a {
    color: var(--link-color);
    text-decoration: none;
}

.article .fichiers a:hover {
    color: var(--link-hover-color);
}

.article .comments {
    margin: 65px 0 35px 0;
    position: relative;
}

.article .comments .comment .actions {
    display: flex;
    margin-top: 7px;
}

.article .comments .comment .actions .edit {
    background-color: var(--bg-button-color);
    border: 1px solid var(--border-button-color);
    color: var(--color-white);
    padding: 3px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: clamp(11px, 1.5vw, 13px);
    cursor: pointer;
    margin-right: 7px;
}

.article .comments .comment .actions .btn {
    background-color: var(--color-danger);
    border: 1px solid var(--border-button-color);
    color: var(--color-white);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: clamp(11px, 1.5vw, 13px);
    cursor: pointer;
}

.article .comments .comment h3 {
    font-size: clamp(11px, 1.5vw, 13px);
}

.article .comments .new {
    margin-bottom: 55px;
}

.article .comments .title {
    font-size: clamp(17px, 1.5vw, 22px);
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--title-color);
    text-align: center;
    border-bottom: 1px solid var(--border-pics-title);
    padding-bottom: 5px;
}

.article .comments .comment {
    background-color: var(--bg-comment);
    padding: 15px;
    border-radius: 10px;
    position: relative;
    margin: 15px 0;
    width: 100%;
}

.article .comments .button-send {
    background-color: var(--bg-button-color);
    border: 1px solid var(--border-button-color);
    color: var(--color-white);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(12px, 1.5vw, 14px);
    font-weight: 500;
    margin-top: 15px;
    width: 100%;
    max-width: 150px;
    text-align: center;
}

.article .message-success {
    color: var(--color-success);
    font-size: clamp(15px, 3vw, 18px);
    margin-top: 10px;
    text-align: center;
}





@media screen and (max-width: 1200px) {
    .article {
        padding: 15px;
    }
}

@media screen and (max-width: 768px) {
    /* .article a {
        margin: 0 7px;
    } */

    .article .mediapics img {
        width: 100%;
    }
}