.presentation {
    margin: 0 auto 15px auto;
    position: relative;
}

.presentation h1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(32px, 2.5vw, 45px);
    font-weight: 900;
    font-family: var(--title-font-family);
    color: var(--color-white);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 10px;
}

.presentation img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: cover;
    position: relative;
}

.contact {
    max-width: 1320px;
    margin: 20px auto 0 auto;
    padding: 15px 0 25px 0;
    position: relative;
}

.contact .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .message-success {
    color: var(--color-success);
    font-size: clamp(15px, 3vw, 18px);
    margin-top: 10px;
    text-align: center;
}

.contact .formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.contact .formulaire form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
    margin: 25px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact .formulaire form label {
    font-size: clamp(12px, 2.5vw, 15px);
}

.contact .formulaire form input,
.contact .formulaire form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: clamp(12px, 2.5vw, 15px);
    width: 100%;
}

.contact .formulaire form textarea {
    height: 250px;
}

.contact .formulaire form button {
    background-color: var(--bg-button-color);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: clamp(13px, 2.5vw, 16px);
    cursor: pointer;
}

.contact .formulaire form button:hover {
    background-color: var(--bg-button-color-hover);
}


@media screen and (max-width: 768px) {
    .presentation {
        margin-top: calc(var(--header-height)
        );
    }

    .presentation h1 {
        top: 45%;
        width: 100%;
    }

    .contact .content {
        width: 100%;
        padding: 0 20px;
        word-break: break-all;
    }

    .contact .formulaire form {
        width: 90%;
    }
}