.presentation {
    margin: 0 auto 15px auto;
    position: relative;
}

.presentation h1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(30px, 2.5vw, 42px);
    font-weight: 900;
    font-family: var(--title-font-family);
    color: var(--color-white);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 10px;
}

.presentation img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: cover;
    position: relative;
}

.recherche {
    max-width: 1320px;
    margin: 35px auto;
    padding: 15px 0 35px 0;
    position: relative;
}

.recherche h1 {
    font-size: clamp(34px, 2.5vw, 46px);
    color: var(--color-white);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.recherche .image {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.recherche .form-group {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.recherche .form-group .button-submit {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: var(--bg-button-color);
    transition: all 0.3s linear;
    font-size: clamp(13px, 2.5vw, 16px);
    color: var(--color-white);
    font-weight: 600;
    cursor: pointer;
}

.recherche .form-group .button-submit:hover {
    background-color: var(--bg-button-color-hover);
}

.recherche .result {
    position: relative;
    margin-bottom: 20px;
    font-size: clamp(14px, 1.5vw, 16px);
    line-height: 1.5;
    text-align: justify;
}

.recherche .result h3 {
    margin: 25px 0 10px 0;
    font-size: clamp(15px, 1.5vw, 20px);
    font-weight: 600;
    font-family: var(--title-font-family);
}

.recherche .result h4 {
    font-size: clamp(11px, 1.5vw, 14px);
    font-weight: 600;
    font-family: var(--title-font-family);
}

.recherche .result .cards {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.recherche .result .cards .card {
    width: 23%;
    position: relative;
}

.recherche .result .cards .card img {
    max-width: 100%;
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
    margin-bottom: 10px;
}

.recherche .result .cards .card p {
    font-size: clamp(11px, 1.5vw, 13px);
    color: var(--title-color);
    font-weight: 300;
    position: relative;
    margin-bottom: 10px;
}

.recherche .result .cards .card a {
    text-decoration: none;
    color: var(--title-color);
    font-size: clamp(14px, 1.5vw, 16px);
    font-weight: 600;
    font-family: var(--title-font-family);
    position: relative;
}

.recherche .result .cards .card a:hover {
    color: var(--title-color-hover);
}


@media screen and (max-width: 768px) {
    .presentation {
        margin-top: calc(var(--header-height)
        );
    }
    .presentation h1 {
        top: 45%;
        width: 100%;
    }

    .recherche {
        padding: 0 15px;
    }

    .recherche .result .cards .card {
        width: 47%;
        padding: 0 15px;
    }
}

@media screen and (max-width: 576px) {
    .recherche .result .cards .card {
        width: 100%;
        padding: 0 15px;
    }
}

@media screen and (max-width: 480px) {
    .recherche .result .cards .card {
        width: 100%;
        padding: 0 15px;
    }
}