.register {
    max-width: 1320px;
    margin: calc(var(--header-height) + 20px) auto 35px auto;
    padding: 15px 0 35px 0;
    position: relative;
}

.register .alert-danger {
    color: var(--color-danger);
    font-size: clamp(15px, 3vw, 18px);
    margin-top: 10px;
    text-align: center;
}

.register h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: clamp(20px, 5vw, 30px);
    color: var(--title-color);
}

.register .message-error {
    color: var(--color-danger);
    font-size: clamp(15px, 3vw, 18px);
    margin-top: 10px;
    text-align: center;
}

.register .request-title {
    text-align: center;
    font-size: clamp(20px, 5vw, 30px);
    color: var(--title-color);
    margin-bottom: 80px;
    padding: 0 15px;
}

.register .intro {
    position: relative;
    text-align: center;
    font-size: clamp(11px, 3vw, 14px);
    color: var(--color-success);
    padding: 0 15px;
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: clamp(300px, 50vw, 500px);
    margin: 25px auto 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.register form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: clamp(15px, 3vw, 18px);
    color: var(--input-font-color);
    font-weight: 600;
    outline: none;
    width: 100%;
    text-align: center;
}

.register form .terms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register form .terms .text {
    font-size: clamp(11px, 3vw, 14px);
    margin-right: 7px;
}

.register form .terms .text a {
    color: var(--link-color);
    text-decoration: none;
}

.register form .terms .text a:hover {
    color: var(--link-hover-color);
}

.register form button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: var(--bg-button-color);
    transition: all 0.3s linear;
    font-size: clamp(15px, 3vw, 18px);
    color: var(--color-white);
    font-weight: 600;
    cursor: pointer;
}

.register form button:hover {
    background-color: var(--bg-button-color-hover);
}



@media screen and (max-width: 768px) {
    .register {
        max-width: 100%;
    }

    .register .request-title {
        margin-bottom: 50px;
    }

    .register form {
        max-width: 100%;
        width: 90%;
    }
}