.register {
    max-width: 1320px;
    margin: calc(var(--header-height) + 20px) auto 35px auto;
    padding: 15px 0;
    position: relative;
}

.register .register-container {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: space-between;
}

.register .register-container .col1 {
    width: 50%;
}

.register .register-container .col1 img {
    max-width: 100%;
    width: 100%;
    height: 145px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(50%);
}

.register .register-container .col2 {
    width: 45%;
}

.register .alert-danger {
    color: var(--color-danger);
    font-size: clamp(15px, 3vw, 18px);
    margin-top: 10px;
    text-align: center;
}

.register h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: clamp(20px, 5vw, 30px);
    color: var(--title-color);
}

.register .message-error {
    color: var(--color-danger);
    font-size: clamp(15px, 3vw, 18px);
    margin-top: 10px;
    text-align: center;
}

.register .request-title {
    text-align: center;
    font-size: clamp(20px, 5vw, 30px);
    color: var(--title-color);
    margin-bottom: 80px;
    padding: 0 15px;
}

.register .intro {
    position: relative;
    text-align: center;
    font-size: clamp(13px, 1.5vw, 16px);
    color: var(--color-success);
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid var(--color-success);
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--color-success-bg);
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* max-width: clamp(300px, 50vw, 500px); */
    width: 100%;
    margin: 25px auto 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.register form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: clamp(15px, 3vw, 18px);
    color: var(--input-font-color);
    font-weight: 600;
    outline: none;
    width: 100%;
    text-align: center;
}

.register form .terms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register form .terms .text {
    font-size: clamp(11px, 3vw, 14px);
    margin-right: 7px;
}

.register form .terms .text a {
    color: var(--link-color);
    text-decoration: none;
}

.register form .terms .text a:hover {
    color: var(--link-hover-color);
}

.register form button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: var(--bg-button-color);
    transition: all 0.3s linear;
    font-size: clamp(15px, 3vw, 18px);
    color: var(--color-white);
    font-weight: 600;
    cursor: pointer;
}

.register form button:hover {
    background-color: var(--bg-button-color-hover);
}

.register .invalid-feedback {
    list-style: none;
    color: var(--color-danger);
    font-size: clamp(14px, 3vw, 17px);
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
}



@media screen and (max-width: 1099px) {
    .register .register-container {
        gap: 10px;
    }

    .register .register-container .col1 {
        width: 45%;
    }

    .register .register-container .col2 {
        width: 50%;
    }
}


@media screen and (max-width: 768px) {
    .register {
        max-width: 100%;
    }

    .register .register-container {
        gap: 2px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .register .register-container .col1 {
        width: 90%;
    }

    /* .register .register-container .col1 img {
        display: none;
    } */

    .register .register-container .col2 {
        width: 100%;
    }

    .register .request-title {
        margin-bottom: 50px;
    }

    .register form {
        max-width: 100%;
        width: 90%;
    }
}