.reset-password {
    max-width: 1320px;
    margin: calc(var(--header-height) + 20px) auto 35px auto;
    padding: 15px 0 35px 0;
    position: relative;
    height: calc(100vh - var(--header-height) - var(--footer-height) - 55px);
}

.reset-password h1 {
    text-align: center;
    margin-bottom: 35px;
    font-size: clamp(25px, 3vw, 30px);
    font-weight: 700;
    color: var(--title-color);
}

.reset-password .alert-danger {
    color: var(--color-danger);
    font-size: clamp(15px, 3vw, 18px);
    margin-top: 10px;
    text-align: center;
}

.reset-password form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: clamp(300px, 50vw, 800px);
    margin: 35px auto 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reset-password form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reset-password form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}

.reset-password form button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: var(--bg-button-color);
    transition: all 0.3s linear;
    font-size: clamp(15px, 3vw, 18px);
    color: var(--color-white);
    font-weight: 600;
    cursor: pointer;
}

.reset-password form button:hover {
    background-color: var(--bg-button-color-hover);
}

.reset-password form .reset-password a {
    margin-top: 10px;
    font-size: clamp(12px, 1.5vw, 15px);
    color: var(--link-color);
    text-decoration: none;
}

.reset-password form .reset-password a:hover {
    color: var(--link-hover-color);
}



@media screen and (max-width: 768px) {
    .reset-password {
        padding: 0 15px;
    }

    .reset-password form {
        max-width: 100%;
        width: 90%;
    }
}