{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block importmap %}{{ importmap(['app', 'contact']) }}{% endblock %}

{% block body %}

    <section class="contact">
        <h1>Formulaire de contact</h1>
    </section>

{% endblock %}
