{% extends 'base.html.twig' %}

{% block title %}C.G.U.{% endblock %}

{% block importmap %}{{ importmap(['app', 'cgu']) }}{% endblock %}

{% block body %}

    <section class="cgu">
        <h1>C.G.U.</h1>
    </section>

{% endblock %}
