{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block importmap %}{{ importmap(['app', 'recherche']) }}{% endblock %}

{% block body %}

    <section class="recherche">
        <h1>Recherche</h1>
    </section>

{% endblock %}
